@using Telerik.Sitefinity.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@*<div class="form-group">
        <expander expander-title="Link">
            <sf-link-selector sf-link-html="currentLink" sf-selected-item="proxy.selectedItem" sf-editor-content="editorContent">
            </sf-link-selector>
        </expander>
    </div>*@
<div class="form-group">
    <label for="lblTitle" class="form-label">Title-JP</label>
    <input id="txtTitle" type="text" class="form-control" ng-model="properties.Title_Jp.PropertyValue" />
</div>
<div class="form-group">
    <label for="lblValue" class="form-label">Value</label>
    <input id="txtValue" type="text" class="form-control" ng-model="properties.Value.PropertyValue" />
</div>
<div class="form-group">
    <label for="lblDescription" class="form-label">Description</label>
    <input id="txtdesc" type="text" class="form-control" ng-model="properties.Description.PropertyValue" />
</div>

@*<div class="form-group">
        <expander expander-title="Select Image">
            <sf-image-field class="sf-Media--info modal-settings modal-settings-space"
                            sf-model="properties.ImageId.PropertyValue"
                            sf-image="selectedImage"
                            sf-provider="properties.ImageProviderName.PropertyValue"
                            sf-media-settings="@SettingsHelpers.GetMediaSettings("Image")"
                            id="image-field"></sf-image-field>
        </expander>
    </div>*@


