body,
html{
    height: 100%;
    width: 100%;
    margin:0 auto;
    font-family: $regular-font;
    font-size: 18px;
    @include media-breakpoint-down(md){
        font-size: 16px;
    }
}

a {
    @include transition (linear 0.3s);
    outline: none;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.btn{
    min-width:182px;
    min-height: 47px;
    font-size: 22px;
    font-family: $bold-font;
    border-radius: 0;
    padding: 4px 10px;

    &:hover,&:focus{
        outline: none !important;
        box-shadow: none !important;
    }

    &.btn_border1{
        border:3px solid $red;
        color: $white;
        &:hover,&:focus{
            color: $white;
            background-color: $red;
        }
    }
    &.btn_border2{
        border:3px solid $red;
        color: $red;
        &:hover,&:focus{
            color: $white;
            background-color: $red;
        }
    }
    &.btn_border3{
        border:3px solid $white;
        color: $white;
        &:hover,&:focus{
            color: $dark-charcoal;
            background-color: $white;
        }
    }

    @include desktop-1399{
        min-width:162px;
        min-height: 45px;
        font-size: 20px;
        padding: 3px 7px;
    }
    @include desktop-1280{
        min-width:152px;
        min-height: 40px;
        padding: 2px 5px;
    }
    @include media-breakpoint-down(sm){
        min-width:148px;
        min-height: 38px;
        padding: 1px 5px;
    }
}

/*Checkbox*/
.custom-checkbox{
    padding-left: 45px;
    &.short_checkbox{
        padding-left: 35px;
        .custom-control-label{
            font-size: 15px;
            &:before,&:after{
                width: 20px;
                height: 20px;
                left: -35px;
            }
        }
        .custom-control-input{
            &:checked{
                ~.custom-control-label{
                    &:after{
                        background-size: 15px;
                    }
                }
            }
        }
    }
    &.custom-control-inline{
        margin-right: 28px;
        &:last-child{
            margin-right: 0px;
        }
    }
    .custom-control-label{
        font-size: 21px;
        cursor: pointer;
        &:before{
            border:2px solid $red;
            border-radius: 0px;
        }
        &:before,&:after{
            width: 30px;
            height: 30px;
            left: -45px;
            top: 1px;
        }
    }
    .custom-control-input{
        &:focus{
            ~.custom-control-label{
                &:before{
                    box-shadow: none;
                }
            }
            &:not(:checked){
                ~.custom-control-label{
                    &:before{
                        border-color: $red;
                    }
                }
            }
        }
        &:checked{
            ~.custom-control-label{
                &:before{
                    border-color: $red;
                    background-color: transparent;
                }
                &:after {
                    background: url("#{$imageurl}/check.svg") no-repeat center center;
                }
            }
        }
        &:not(:disabled){
            &:active{
                ~.custom-control-label{
                    &:before{
                        background-color: transparent;
                        border-color: $red;
                    }
                }
            }
        }
    }

    @include desktop-1440{
        padding-left: 35px;
        &:not(:last-child){
            margin-bottom: 20px;
        }
        .custom-control-label{
            font-size: 19px;
            &:before,
            &:after{
                width: 25px;
                height: 25px;
                left: -35px;
                top: 2px;
            }
        }
        .custom-control-input{
            &:checked{
                ~.custom-control-label{
                    &:after{
                        background-size: 19px;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(md){
        padding-left: 35px;
        display: flex;
        &:not(:last-child){
            margin-bottom: 17px;
        }
        &.custom-control-inline{
            margin-right: 0px;
        }
        &.short_checkbox{
            .custom-control-label{
                &:before,
                &:after{
                    width: 22px;
                    height: 22px;
                    left: -35px;
                }
            }
        }
        .custom-control-label{
            font-size: 17px;
            &:before,
            &:after{
                width: 22px;
                height: 22px;
                left: -35px;
                top: 2px;
            }
        }
        .custom-control-input{
            &:checked{
                ~.custom-control-label{
                    &:after{
                        background-size: 16px;
                    }
                }
            }
        }
    }
}

/*Container*/
.container{
    @media(min-width:1200px){
        max-width:1180px;
    }
    @media(min-width:1400px){
        max-width:1300px;
    } 
    @media(min-width:1600px){
        max-width:1500px;
    }
    @media(min-width:1681px){
        max-width:1640px;
    }
    @include media-breakpoint-down(sm){
        max-width: 100%;
    }
}

//font classes
.font-reg {
    font-family: $regular-font !important;
}
.font-med {
    font-family: $medium-font;
}
.font-extrabold {
    font-family: $bold-font;
}
