.application_page{
    .banner_sec{
        min-height: 1278px;
        position: relative;
        background: url('#{$imageurl}/application_bg.svg') no-repeat right -990px top -250px;
        background-size: auto;
        padding: 117px 0px 126px;
        .content{
            min-height:668px;
            margin-bottom: -225px;
            img{
                position: relative;
                margin-top: -115px;
            }
        }
        .info{
            .heading_h2{
                h2{
                    margin-bottom: 25px;
                }
                p{
                    margin-bottom: 20px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .row{
            align-items: flex-end;
            &.no-gutters{
                margin-right: 0px;
                margin-left: 0px;
                >.col,
                >[class*=col-]{
                    padding-right: 0px;
                    padding-left: 0px;
                }
            }
            .left{
                padding-right: 108px !important;
            }
        }
        .summary_sec{
            padding: 48px 65px;
            background-color: $white;
            @include box-shadow(5px, 5px, 20px, rgba($black, 0.16));
            h4{
                font-size: 25px;
                font-family: $bold-font;
                margin-bottom: 12px;
            }
            p{
                line-height: 31px;
                margin-bottom: 25px;
            }
            h6{
                font-size: 20px;
                font-family: $bold-font;
                margin-bottom: 15px;
            }
            .media{
                margin-top: 30px;
                +.media{
                    margin-top: 15px;
                }
                >img{
                    margin-right: 45px;
                }
                .media-body{
                    h5{
                        font-size: 18px;
                        font-family: $bold-font;
                        margin-bottom: 18px;
                    }
                }
            }
        }

        @include desktop-1680{
            min-height: auto;
            padding: 55px 0px 60px;
            .content {
                margin-bottom: -200px;
                img{
                    margin-top: -95px;
                    max-width: 990px;
                }
            }
            .summary_sec{
                padding: 40px 25px;
            }
        }
    }

    .width_promo_sec{
        padding: 80px 0px 70px;
        background: $red url('#{$imageurl}/width_promo.png') no-repeat center bottom;
        background-size: 100% 100%;
        &.knowledge_sec{
            background: $dark-charcoal url('#{$imageurl}/knowledge_bg.png') no-repeat center bottom;
        }
        .heading_h2{
            margin-bottom: 35px;
            h2{
                font-size: 40px;
                margin-bottom: 25px;
                line-height: 50px;
            }
            p{
                font-size: 30px;
                line-height: 40px;
            }
        }
    }

    .app_view_sec{
        padding: 110px 0;
        background: url('#{$imageurl}/light_shape_bg.png') no-repeat left -980px top -45px;
        .container{
            @media(min-width:1681px){
                max-width: 1400px;
            }
        }
        
        .media{
            align-items: center;
            .img{
                text-align: center;
                &.left{
                    margin-right: 250px;
                }
                &.right{
                    margin-left: 160px;
                }
            }
            .media-body{
                max-width: 450px;
                h4{
                    font-size: 30px;
                    font-family: $bold-font;
                    text-transform: uppercase;
                    line-height: 40px;
                }
                p{
                    line-height: 24px;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .contact_sec{
        padding: 110px 0 130px;
        &:before{
            background: url('#{$imageurl}/contact_bg.png') no-repeat left -898px bottom -541px;
            background-size: 1800px;
        }
        .related_resources{
            padding-bottom: 40px;
            .heading_h2{
                h2{
                    margin-bottom: 67px;
                }
            }
            .item_box{
                margin-bottom: 70px;
                min-height: 175px;
                position: relative;
                span{
                    font-size: 14px;
                    font-family:$bold-font;
                    color: $red;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    display: block;
                    margin-bottom: 13px;
                }
                h4{
                    font-size: 20px;
                    font-family:$bold-font;
                    line-height: 25px;
                    margin-bottom: 20px;
                }
                a{
                    font-size: 16px;
                    font-family:$bold-font;
                    color: $mediun-gray;
                    line-height: 30px;
                    display: flex;
                    align-items: center;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: 0.3s all;
                    img{
                        margin-left: 11px;
                        position: relative;
                        transition: 0.3s all;
                        right:0px;
                    }
                    &:hover,&:focus{
                        img{
                            right: -5px;
                        }
                    }
                }
            }
        }
    }
}