@using Telerik.Sitefinity.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="form-group">
    <label for="drpList" class="form-label">Styles</label>
    <select id="drpList" class="form-control" ng-model="properties.ListItem_Value.PropertyValue">
        <option value="white-background">White background</option>
        <option value="transparent-background">Transparent background</option>
    </select>
</div>


