<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7200.0">
	<connectionStrings>
		<add connectionString="data source=DESKTOP-RNLROTF;UID=sa;PWD=Abc123$;initial catalog=SF_BT" name="Sitefinity" />
    <!--<add connectionString="data source=192.168.100.6\MSSQLSERVER2012;UID=sa;PWD=Acer`123;initial catalog=SF_BT" name="Sitefinity" />-->
	</connectionStrings>
</dataConfig>