<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7200.0" authCookieName=".SFAUTH-SF_BT" rolesCookieName=".SFROLES-SF_BT" validationKey="8DF4C6BD6A229D6D7BDA28349E0DB2E76BCC1284E12A91CED4BD0F02D477511BB59E59BCD6121228FF8D15694A49569930C210B0B36D3A3323B984C2E7C24FB1" decryptionKey="4A7BE6C97EA96A5BEAEF3028C3B6B55052A369F7526C6264380FDD827FC3A6E1" loggingCookieName=".SFLOG-SF_BT">
	<securityTokenIssuers>
		<add key="0E4CA2893B901F9312A9B81335EA37CF4EDF6884C758FD2788BF7CBECBECAEB1" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="0E4CA2893B901F9312A9B81335EA37CF4EDF6884C758FD2788BF7CBECBECAEB1" realm="http://localhost" />
	</relyingParties>
</securityConfig>