.product_page{
    .banner_sec{
        padding: 60px 0 80px;
        background: url('#{$imageurl}/application_bg.svg') no-repeat right -990px top -250px;
        background-size: auto;
        .top_view{
            .product_method{
                margin-bottom: 20px;
                li{
                    position: relative;
                    &:not(:last-child){
                        &:after{
                            content: '+';
                            position: absolute;
                            right: -10px; 
                            top: 50%;
                            transform: translateY(-50%);
                            color: $dark-charcoal;
                            font-family: $bold-font;
                            font-size: 20px;
                        }
                    }
                }
            }
            .heading_h1 {
                margin-bottom: 47px;
            }
            .description_info_view{
                >p{
                    line-height: 24px;
                    padding-bottom: 44px;
                    max-width: 675px;
                    margin-bottom: 0;
                }
                .btns{
                    .btn{
                        min-width: auto;
                        padding: 4px 30px;
                        &:not(:last-child){
                            margin-right: 45px;
                        }
                        i{
                            margin-left: 5px;
                        }
                    }
                }
                ul{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-bottom: 0;
                    li{
                        &:not(:last-child){
                            margin-right: 75px;
                        }
                        .item_info{
                            text-align: center;
                            margin-bottom: 35px;
                            h5{
                                font-size: 25px;
                                font-family: $bold-font;
                                color: $dark-charcoal;
                                margin-bottom: 12px;
                            }
                            p{
                                margin-bottom: 0;
                                color: $dark-charcoal;
                            }
                        }
                    }
                }
            }
            .product_slider{
                height: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                .carousel-inner{
                    padding-bottom: 40px;
                    .carousel-item{
                        .rotate{
                            display: block;
                            text-align: center;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }

        .bottom_view{
            padding: 80px 0 0;
            .heading_h2{
                h2{
                    margin-bottom: 0;
                }
            }
            .inner_view{
                max-width: 1502px;
                margin: 0 auto 50px;
                .highlight_box{
                    h4{
                        font-size: 30px;
                        color: $dark-charcoal;
                        font-family: $bold-font;
                        margin-bottom: 12px;
                    }
                }
            }
            .content{
                max-width: 675px;
                .heading_h2{
                    margin-bottom: 40px;
                    h2{
                        margin-bottom: 15px;
                    }
                    p{
                        font-size: 20px;
                        line-height: 32px;
                    }
                }
                .arrow_list_view{
                    margin-bottom: 0;
                }
            }
            .package_view{
                @include box-shadow(5px, 5px, 20px, rgba($black, 0.16));
                padding: 40px;
                background-color: $white;
                h3{
                    font-size: 34px;
                    line-height: 44px;
                    color: $dark-charcoal;
                    font-family: $bold-font;
                    margin-bottom: 25px;
                }
                .pack_item{
                    text-align: center;
                    img{
                        margin-bottom: 8px;
                    }
                }
            }
        }

        @include desktop-1680{
            background-size: 1680px;
        }
        @include desktop-1399{
            background: url('#{$imageurl}/application_bg.svg') no-repeat right -990px top -120px;
            
        }
        @include media-breakpoint-down(lg){
            padding: 30px 0 20px;
            background: none;
            .top_view{
                .product_method{
                    margin-top:30px;
                    li{
                        >img{
                            max-width: 56px;
                        }
                    }
                }
                .heading_h1 {
                    margin-bottom: 15px;
                }
                .description_info_view{
                    >p{
                        line-height: 21px;
                        font-size: 16px;
                    }
                    .btns{
                        text-align: center;
                        .btn{
                            min-width: auto;
                            font-size: 18px;
                            &:not(:last-child){
                                margin-right: 5px;
                            }
                        }
                    }
                    ul{
                        li{
                            width: 50%;
                            &:not(:last-child){
                                margin-right: 0;
                            }
                            .item_info{
                                margin-bottom: 45px;
                                p{
                                    padding: 0 27px;
                                    line-height: 21px;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
                .product_slider{
                    .carousel-control-next, .carousel-control-prev{
                        display: none;
                    }
                    .carousel-inner{
                        padding-bottom: 50px;
                        .carousel-item{
                            >img{
                                max-width: 312px;
                                margin: 0 auto;
                            }
                            .rotate{
                                margin-top: 0;
                                position: absolute;
                                right: 0;
                                bottom: 5px;
                            }
                        }
                    }
                }
            }
            .bottom_view{
                padding: 60px 0 0;
                .heading_h2{
                    margin-bottom: 30px;
                    h2{
                        font-size: 24px;
                    }
                }
                .inner_view{
                    max-width: 100%;
                    margin: 0 auto 10px;
                    .highlight_box{
                        margin-bottom: 40px;
                        h4{
                            font-size: 24px;
                        }
                        p{
                            font-size: 16px;
                            line-height: 21px;
                        }
                    }
                }
                .content{
                    max-width: 100%;
                    margin-bottom: 50px;
                    .heading_h2{
                        margin-bottom: 15px;
                        h2{
                            margin-bottom: 5px;
                            font-size: 24px;
                        }
                        p{
                            font-size: 16px;
                            line-height: 21px;
                        }
                    }
                    .arrow_list_view{
                        margin-bottom: 0;
                    }
                }
                .package_view{
                    padding: 30px 30px 0;
                    h3{
                        font-size: 24px;
                        line-height: 31px;
                        margin-bottom: 35px;
                    }
                    .pack_item{
                        margin-bottom: 40px;
                        img{
                            max-width: 170px;
                            margin-bottom: 20px;
                        }
                        p{
                            line-height: 21px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(md){
            .top_view{
                .description_info_view{
                    .btns{
                        .btn{
                            min-width: 258px;
                            &:not(:last-child){
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
            .bottom_view{
                .package_view{
                    .pack_item{
                        img{
                            max-width: 212px;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(xs){
            .top_view{
                .description_info_view{
                    .btns{
                        .btn{
                            &:not(:last-child){
                                margin-bottom: 30px;
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .specification_sec{
        padding: 30px 0 0;
        @include media-breakpoint-up(lg){
            .container{
                max-width:1365px;
            }
        }
        .accordion{
            .mobile_view_tabs{
                display: none;
            }
            ul{
                margin-bottom: 30px;
                text-align: center;
                li{
                    &:not(:last-child){
                        margin-right: 37px;
                    }
                    .tabs_link{
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        min-width: 130px;
                        font-size: 20px;
                        color: $mediun-gray;
                        font-family: $bold-font;
                        padding-bottom: 18px;
                        border-bottom: 6px solid transparent;
                        img{
                            margin-bottom: 10px;
                            opacity: 0.4;
                        }
                        &[aria-expanded="true"]{
                            border-bottom: 6px solid $red;
                            img{
                                opacity: 1;
                            }
                            span{
                                color: $dark-charcoal;
                            }
                        }
                    }
                }
            }
            .table_view{
                .no-gutters{
                    margin-left: -8px;
                    margin-right: -8px;
                    >.col,
                    >[class*=col-]{
                        padding-left: 8px;
                        padding-right: 8px;
                    }
                }
                .item{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    min-height: 65px;
                    padding: 20px 55px 20px 27px;
                    background-color: $white;
                    p{
                        margin-bottom: 0;
                        font-size: 20px;
                    }
                    span{
                        font-family:$bold-font
                    }
                    &:nth-child(even){
                        background-color: $light-gray;
                    }
                }
            }
        }

        @include desktop-1399{
            .accordion{
                ul{
                    margin-bottom: 30px;
                    li{
                        &:not(:last-child){
                            margin-right: 22px;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(lg){
            .accordion{
                ul{
                    white-space: nowrap;
                    padding-bottom: 15px;
                    overflow-x: auto;
                    li{
                        &:not(:last-child){
                            margin-right: 20px;
                        }
                        .tabs_link{
                            font-size: 16px;
                            padding-bottom: 10px;
                            border-bottom: 4px solid transparent;
                            img{
                                max-width: 69px;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
                .table_view{
                    .item{
                        padding: 20px 15px 20px 15px;
                        p{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(md){
            padding: 30px 0 50px;
        }
        @include media-breakpoint-down(sm){
            .container{
                padding: 0;
            }
            .accordion{
                ul{
                    display: none;
                }
                .mobile_view_tabs{
                    display: block;
                    padding: 0 15px;
                    .tabs_link{
                        font-size: 20px;
                        line-height: 25px;
                        font-family: $bold-font;
                        color: $dark-charcoal;
                        display: flex;
                        align-items: center;
                        position: relative;
                        border-bottom: 6px solid $red;
                        margin-bottom: 5px;
                        &:after{
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 9px solid $red;
                            position: absolute;
                            bottom: 50%;
                            left: auto;
                            right: 0;
                            margin: 0 auto;
                            content: '';
                            transform: translateY(50%);
                        }
                        >img{
                            max-width: 69px;
                            margin-bottom: -6px;
                        }
                    }
                }
                .table_view{
                    .no-gutters{
                        margin-left: 0px;
                        margin-right: 0px;
                        >.col,
                        >[class*=col-]{
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                    }
                }
            }
        }
    }

    .three_box_sec{
        .heading_h2{
            margin-bottom: 42px;
        }
    }

    .case_study_sec{
        background: url('#{$imageurl}/case_study_bg.jpg') no-repeat;
        padding: 180px 0;
        min-height: 600px;
        position: relative;
        .carousel-indicators{
            justify-content: flex-start;
            margin: 0 138px;
            li{
                border-color:$white;
                &.active{
                    background-color: $white;
                }
            }
        }
        .carousel-inner{
            padding: 0px 138px 50px;
            .carousel-item{
                .content{
                    max-width: 675px;
                    color: $white;
                    h2{
                        font-size: 40px;
                        line-height: 50px;
                        font-family: $bold-font;
                        margin-bottom: 10px;
                    }
                    p{
                        margin-bottom: 0;
                        font-size: 20px;
                        line-height: 32px;
                    }
                }
            }
        }

        @include media-breakpoint-down(lg){
            padding: 90px 0;
            min-height: 360px;
            .carousel-inner{
                .carousel-item{
                    .content{
                        h2{
                            font-size: 33px;
                            line-height: 42px;
                        }
                        p{
                            font-size: 16px;
                            line-height: 21px;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(md){
            padding: 60px 0;
            min-height: auto;
            background-position: center;
            .carousel-control-next, .carousel-control-prev{
                display: none;
            }
            .carousel-indicators{
                margin-left: auto;
            }
            .carousel-inner{
                padding: 0px 0px 50px;
                .carousel-item{
                    .content{
                        h2{
                            font-size: 24px;
                            line-height: 31px;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(sm){
            min-height: 370px;
            background: url('#{$imageurl}/mobile_view_case.jpg') no-repeat;
        }
    }

    .contact_sec{
        min-height: 1400px;
        &:before{
            background: url('#{$imageurl}/contact_bg.png') no-repeat left -920px top 454px;
        }
        .related_products{
            padding-bottom: 150px;
            .only_show_mobile_related_product_slider{
                display: none;
            }
            .box{
                text-align: center;
                >img{
                    margin-bottom: 5px;
                }
                h4{
                    font-size: 20px;
                    font-family: $bold-font;
                    color: $dark-charcoal;
                    margin-bottom: 10px;
                }
            }
        }

        @include desktop-1680{
            &:before {
                background: url('#{$imageurl}/contact_bg.png') no-repeat left -722px bottom -367px;
                background-size: 1405px;
            }
        }
        @include desktop-1600{
            &:before {
                background: url('#{$imageurl}/contact_bg.png') no-repeat left -635px bottom -295px;
                background-size: 1236px;
            }
        }
        @include desktop-1440{
            &:before {
                background: url('#{$imageurl}/contact_bg.png') no-repeat left -635px bottom -250px;
                background-size: 1130px;
            }
        }
        @include desktop-1399{
            min-height: 1330px;
            &::before{
                background: url('#{$imageurl}/contact_bg.png') no-repeat left -625px bottom -300px;
                background-size: 1130px;
            }
        }
        @include desktop-1280{
            &:before{
                background: url('#{$imageurl}/contact_bg.png') no-repeat left -665px bottom -300px;
                background-size: 1130px;
            }
        }
        @include media-breakpoint-down(lg){
            min-height: auto;
            &::before{
                background: url('#{$imageurl}/contact_bg.png') no-repeat left -675px bottom -300px;
                background-size: 1130px;
            }
            .related_products{
                padding-bottom:90px;
            }
        }
        @include media-breakpoint-down(md){
            &::before{
                background: url('#{$imageurl}/contact_bg.png') no-repeat left -202px bottom -55px;
            }
            .related_products{
                padding-bottom: 70px;
                .box{
                    margin-bottom: 30px;
                }
            }
        }
        @include media-breakpoint-down(sm){
            .related_products{
                .box{
                    margin-bottom: 0px;
                }
                .only_show_mobile_related_product_slider{
                    display: block;
                    .carousel-inner{
                        padding-bottom: 50px;
                    }
                }
                .inner_view_box{
                    display: none;
                }
            }
        }
    }
}