.career_page{
    .short_banner_sec{
        background: url('#{$imageurl}/career_bg.jpg') no-repeat center;
        &:before{
            background-color: $dark-gray;
            mix-blend-mode: multiply;
        }
    }
    
    .position_sec{
        padding: 20px 0px 110px;
        .heading_h2{
            margin-bottom: 55px;
        }
        .box{
            h4{
                font-size: 30px;
                font-family: $bold-font;
                margin-bottom: 10px;
            }
        }
    }

    .engineer_sec{
        .box_content{
            background-color: $dark-charcoal;
            width: 100%;
            height: 100%;
            padding: 134px 48px;
            .carousel-indicators{
                margin-left: 0;
                justify-content: flex-start;
            }
            .carousel-control-prev {
                left: -860px;
            }
            .carousel-control-next {
                right: 95px;
            }
            .carousel-inner{
                padding-bottom: 30px;
                .carousel-item{
                    .content{
                        max-width: 715px;
                        h2,h3{
                            font-family: $bold-font;
                        }
                        h2{
                            font-size: 40px;
                            line-height: 52px;
                            margin-bottom: 30px;
                        }
                        h3{
                            font-size: 34px;
                            line-height:40px;
                            margin-bottom: 13px;
                        }
                    }
                }
            }
        }
    }

    .benefits_sec{
        padding: 130px 0;
        .heading_h2{
            margin-bottom: 35px;
        }
        @media (min-width:1681px){
            .container{
                max-width: 1365px;
            }
        }
        .box{
            margin-bottom: 40px;
            img{
                margin-bottom: 40px;
            }
            h4{
                font-family: $bold-font;
                font-size: 30px;
                line-height: 30px;
                margin-bottom: 10px;
            }
        }
    }

    .app_view_sec{
        padding-top: 0;
        .heading_h2{
            margin-bottom: 65px;
        }
    }

}