@model BT_Widgets.Mvc.Models.PageSelectorInDesignerModel

<h1>
    @Html.Raw(Model.Message)

</h1>
<div>
    <a href="@Model.SelectedPageId">GO to</a>
</div>
<div>
    <a href="@Model.SelectedPage">GO to page</a>
</div>