@model  IEnumerable<Telerik.Sitefinity.Ecommerce.Catalog.Model.Product>
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@{
    Layout = null;
}


<link href="~/Mvc/Views/ProductList/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Mvc/Views/ProductList/css/custom.min.css" rel="stylesheet" />
<section class="contact_sec">
    <div class="related_products">
        <div class="container">
            <div class="heading_h2 text-center">
                <h2 class="text-uppercase mb-0">Related Products</h2>
            </div>
            <div class="row">
                @foreach (var item in Model)
                 {
                    <div class="col-md-3">
                        <div class="box">
                            <img src="@item.PrimaryImageUrl" alt="image" class="img-fluid">
                            <h4>@item.Title</h4>
                            <a href="/productdetail?id=@item.Id" target="_blank">Call To Action <img src="~/Assets/Images/right_icon.svg" alt="icon" class="img-fluid"></a>
                        </div>
                    </div>
                  }
                    
            </div>
        </div>
    </div>

</section>
