<div id="list-settings">
    <div>
        <label>List title</label>
        <input id="list-title" ng-model="properties.ListTitle.PropertyValue" type="text" />
    </div>
    <div>
        <label>List title</label>
        <input id="list-type" ng-model="properties.ListType.PropertyValue" type="text" />
    </div>

   
</div>
