<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.1.7122.0" authCookieName=".SFAUTH-/" requireHttpsForAllRequests="True" rolesCookieName=".SFROLES-/" validationKey="39616AEFF681767FBBBCF016CF9A89010104651B0F299FF0A6B08FF234BCA67C928254316A32FCEE87DA977EDE8D7E9551B69BE29BF63D1FD965224AE357917B" decryptionKey="124FE565671A44D3ED34B3086D103C115EAB569CB1D1FE3F8317676758FCD197" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="34A2856E707500EA54FA19D7E817E73C6D0E1853F28569C06EC04198ECE1E9DB" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="34A2856E707500EA54FA19D7E817E73C6D0E1853F28569C06EC04198ECE1E9DB" realm="http://localhost" />
	</relyingParties>
</securityConfig>