<?xml version="1.0" encoding="utf-8"?>
<toolboxesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.1.7122.0">
	<toolboxes>
		<toolbox name="PageLayouts" config:flags="1">
			<sections>
				<add name="TwoColumns" config:flags="1">
					<tools>
						<add type="Telerik.Sitefinity.Web.UI.LayoutControl" title="BT_CustomLaytout" layoutTemplate="~/App_Data/Sitefinity/WebsiteTemplates/BT/CustomLayouts/Custom1.ascx" name="BT_CustomLaytout" />
					</tools>
				</add>
			</sections>
		</toolbox>
	</toolboxes>
</toolboxesConfig>